.bannerContainer{
    display: flex;
    /* background:url(../assets/blank-letterhead-corporate-identity-design.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 300px;
    background-color: rgb(51, 26, 99);
    background-image: -webkit-linear-gradient(30deg, rgb(65, 51, 90) 50%,  rgb(208, 202, 193) 50%);
    text-align: center;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin-bottom: 70px;
    color:white;
}

.bannerContainer h1{
    font-size: 35px;
    margin-top: -30px;

}
.bannerContainer h2{
    font-size: 26px;
    margin-top: 25px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:400px) {
    .bannerContainer h2{
        width: 250px;
        margin-bottom: 20px;
    }
    
}

