.educationContainer{
    text-align: center;
    margin-top:40px
}

.educationCards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.educationCard{
    width: 350px;
    height: 300px;
    margin: 1%;
    background-color:white;
    border: 0.8px solid black;
    border-radius: 20px;
}

.educationCardHeader{
    height: 100px;
    width: 350px;
    background-color: rgb(112, 113, 162);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
    border-radius: 20px 20px 0 0 ;
    color: white;
}

.educationCard p{
    text-align: left;
    padding: 30px;
    font-size: 1.2rem;
}

@media screen and (min-width:957px) and (max-width:1120px) {
   .educationCard,.educationCardHeader{
        width: 300px;
   }
   .educationCardHeader{
    height: 80px;
   } 
}

@media screen and (min-width:320px) and (max-width:400px) {
    .educationCard,.educationCardHeader{
         width: 300px;
         
    }
    .educationCardHeader{
        height: 80px;
        
    }
    .educationCardHeader h2{
       margin-top: -10px;
    }
 }

 @media screen and (max-width:320px) {
    .educationCard,.educationCardHeader{
         width: 250px;  
    }
    .educationCardHeader{
        height: 60px;
        
    }
    .educationCardHeader h2{
       margin-top: -10px;
    }
    .educationCard p{
        padding-top: 15px;
    }
    .educationCard{
        height: 310px;
    }
 }
