#profile{
    text-align: center;
    background-color: rgb(236, 236, 235);
    margin-top: 50px;
    padding: 30px;
}
.profileContainer{
    display: flex;
}

.aboutme{
    width: 50vw;
    padding: 30px;
    margin-top: 30px;
    border-right: 1px solid rgb(28, 28, 28);
}
.aboutme h1,.details h1{
    margin-bottom: 30px;
}
.aboutme p, .details p{
    text-align: left;
    font-size: 1.2rem;
}

.details{
    width: 50vw;
    padding: 30px;
    margin-top: 30px;
}
.details i{
    color: black;
    font-size: 1.2rem;
}
.details a{
    margin-right: 10px;
}

@media screen and (max-width:550px) {
    .profileContainer{
        flex-direction: column;
        justify-items: center;
    }
    .aboutme{
        border-bottom: 1px solid rgb(28, 28, 28);
        border-right: 1px solid rgb(236, 236, 235);
        text-align: center;
    }
    .aboutme,.details{
        width: 100%;
    }
}