.projectContainer{
    text-align: center;
    margin-top:40px
}

.carousel-item-project{   
    background-color: rgb(112, 113, 162);
    color: white;
    height: 250px !important;
}

.carousel-project{
    margin-top:3%;
    margin-right: 16%;
    margin-left: 16%;
    
}

.projectPara{
    width: 70%;
    text-align: left;
    margin-left:16%;
}

@media screen and (min-width:550px) and (max-width:830px) {
    .carousel-item-project{   
        height: 300px !important;
    }
}

@media screen and (min-width:590px) and (max-width:650px){
    .carousel-item-project h2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-project{
        margin-right: 13%;
        margin-left: 13%;  
    }
}

@media screen and (min-width:495px) and (max-width:610px) {
    .carousel-item-project{   
        height: 350px !important;
    }  
    .carousel-project{
        margin-right: 13%;
        margin-left: 13%;  
    }
}

@media screen  and (min-width:370px) and (max-width:495px) {
    .carousel-item-project{   
        height: 460px !important;
    }
    .carousel-project{
        margin-right: 12%;
        margin-left: 12%;  
    }
}

@media screen and (max-width:370px) {
    .carousel-item-project{   
        height: 450px !important;        
    }
    .carousel-project{
        margin-right: 11%;
        margin-left: 11%;  
    }
    .carousel-item-project h2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}