*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 24px;
}

h1{
    font-size: 32px;
}

h3{
    font-size: 18px;
}

p, li{
    font-size: 19.2px;
    margin: 0;
}

p{
    padding-bottom: 10px;
}

h4{
    font-size: 16px;
}

h1,h2,h4,h3{
    font-weight: bold;
}

#profile{
    scroll-margin-top: 8vh;
}

#education{
    scroll-margin-top: 11vh;
}

#achievements{
    scroll-margin-top: 8vh;
}

#project{
    scroll-margin-top: 10vh;
}

#internship{
    scroll-margin-top: 12vh;
}

@media screen and (max-width:992px) {
    #profile{
        scroll-margin-top: 42vh;
    }
    
    #education{
        scroll-margin-top: 47vh;
    }
    
    #achievements{
        scroll-margin-top: 42vh;
    }
    
    #project{
        scroll-margin-top: 48vh;
    }
    #internship{
        scroll-margin-top: 47vh;
    }    
}
